<div class="nav">
    <div class="title">
        <p>Pathfinder Visualizer</p>
    </div>
    <div class="actions">

        <button class="btn" (click)="visualize() " style="background-color: rgb(22 163 74 )">{{
            selectedAlgorithm >= 0?
            "Visualize : " + algorithms[selectedAlgorithm].abbreviation : "Select algorithm"}}</button>

        <button class="btn" (click)="reset()">clear</button>

        <select (change)="getAlgorithm($event)">
            <option disabled selected hidden>Select Algorithm</option>
            <option *ngFor="let algorithm of algorithms" [value]="algorithm.id">
                {{algorithm.algorithm}}</option>
        </select>
        <select (change)="getSpeed($event)">
            <option *ngFor="let speed of speeds" [value]="speed.value" [selected]="speed.default">
                {{speed.label}}</option>

        </select>
    </div>

</div>
<div class="container">
    <div class="grid">
        <div *ngFor="let nodeRow of grid" class="grid-row">
            <div *ngFor="let node of nodeRow">
                <app-node [node]="node" (onMouseEnterEvent)="onMouseEnter($event)" (onMouseUpEvent)="onMouseUp($event)"
                    (onMouseDownEvent)="onMouseDown($event)"></app-node>
            </div>
        </div>
    </div>
</div>